Source_interface_local_multicanal.txt
[{"id":"c004b615.dac328","type":"tab","label":"FULL","disabled":false,"info":""},{"id":"a276d08b.190a8","type":"serial in","z":"c004b615.dac328","name":"","serial":"fe72a108.170d5","x":55,"y":130.1269989013672,"wires":[["d6614839.cdd7f8","8b5b77a0.9a9b28"]]},{"id":"d6614839.cdd7f8","type":"json","z":"c004b615.dac328","name":"","property":"payload","action":"","pretty":false,"x":238,"y":131.1269989013672,"wires":[["f4f59f0e.83fe8","fa4d4bf3.814278","6fa3cec0.29d87","62052105.fbcef","9d95540a.4bb038","6c025617.824158","64d807e8.2563a8","4ddef3cd.3cdd8c","15a02018.23474","1b430af7.9de275","167e9309.1b7eed","ad971f36.62a","e178ee08.9c0bf","3a53b282.d627de","5e9609fe.185e38","daa0f3a4.35279","ae31c8ab.7c9878","b8937021.75aef","d6dba38d.03da5","625b3a11.553004","ae47f92f.48f298","b0c77ed3.08248","b520a763.e70c08","76a08c10.42ad54","613a0a8e.8b86f4","96dac5c5.7ae288","8b9188bd.c68848","37e7751f.85dc7a"]]},{"id":"f4f59f0e.83fe8","type":"function","z":"c004b615.dac328","name":"V1","func":"msg.payload = msg.payload.V1\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":259.1269989013672,"wires":[["80df8eb8.cf9ea","8f05dab4.b7f888","a797a444.8b6b58","9a014cb4.e1ead"]]},{"id":"fa4d4bf3.814278","type":"function","z":"c004b615.dac328","name":"corrente","func":"msg.payload = msg.payload.I\nreturn msg;","outputs":1,"noerr":0,"x":434,"y":384.1269989013672,"wires":[["909f467f.4a6138","2671df4.a26742","b682988f.d4d138"]]},{"id":"80df8eb8.cf9ea","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":603,"y":286.1269989013672,"wires":[]},{"id":"909f467f.4a6138","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":604,"y":408.1269989013672,"wires":[]},{"id":"6fa3cec0.29d87","type":"function","z":"c004b615.dac328","name":"Gravar","func":"var data = new Date().toLocaleDateString();\nvar hora = new Date().toLocaleTimeString();\n\nmsg.payload = data + \";\" + hora + \";\" + \"V1:\" + \" \" + msg.payload.V1 + \",\" + \"Corrente(A):\" + \" \" + msg.payload.I + \";\" + \"SOCekf:\" + \" \" + msg.payload.x_pos + \";\" + \" \" + msg.payload.x_mx + \";\" + \" \" + msg.payload.x_mn + \";\" + \"SOCcc:\" + \" \" + msg.payload.x_cc + \";\" + \"SOCotm\" + \" \" + msg.payload.x_otm + \";\" + \"DODd:\" + \" \" + msg.payload.DOD_d + \";\" + \"DODc:\" + \" \" + msg.payload.DOD_c + \";\" + \"Vekf:\" + \" \" + msg.payload.y_ekf + \";\" + \"DeltaT\" + \" \" + msg.payload.delta_t;\nreturn msg;","outputs":1,"noerr":0,"x":410.11109924316406,"y":1423.6825714111328,"wires":[["98e08399.bace8","8c7627b7.7b89f8"]]},{"id":"98e08399.bace8","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":588.1110992431641,"y":1432.6825714111328,"wires":[]},{"id":"8c7627b7.7b89f8","type":"file","z":"c004b615.dac328","name":"Dados Gravar","filename":"C:\\Users\\Ultrabook\\Desktop\\TesteJSON.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":592.1110992431641,"y":1468.6825714111328,"wires":[[]]},{"id":"2671df4.a26742","type":"ui_chart","z":"c004b615.dac328","name":"Corrente","group":"721bc9a.aa40c38","order":13,"width":6,"height":5,"label":"Corrente(A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":598,"y":332.1269989013672,"wires":[[]]},{"id":"8f05dab4.b7f888","type":"ui_chart","z":"c004b615.dac328","name":"Tensao V1","group":"721bc9a.aa40c38","order":2,"width":6,"height":5,"label":"Tensão (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":605,"y":207.1269989013672,"wires":[[]]},{"id":"8b5b77a0.9a9b28","type":"debug","z":"c004b615.dac328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":210,"y":196.1269989013672,"wires":[]},{"id":"62052105.fbcef","type":"function","z":"c004b615.dac328","name":"SOC_ekf","func":"msg.payload = msg.payload.x_pos\nreturn msg;","outputs":1,"noerr":0,"x":431.6667022705078,"y":495.3492126464844,"wires":[["17be106.5eb00f","1e283b1d.dcddb5","b2c1f066.586d8","3091a6a0.c8f62a","f376cfac.e9f7"]]},{"id":"17be106.5eb00f","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":605.6667022705078,"y":605.3492126464844,"wires":[]},{"id":"1e283b1d.dcddb5","type":"ui_gauge","z":"c004b615.dac328","name":"SOCekf","group":"4e805893.480868","order":2,"width":6,"height":5,"gtype":"gage","title":"SOCekf","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":594.6667022705078,"y":483.3492126464844,"wires":[]},{"id":"9d95540a.4bb038","type":"function","z":"c004b615.dac328","name":"SOCmx","func":"msg.payload = msg.payload.x_mx\nreturn msg;","outputs":1,"noerr":0,"x":428.8889617919922,"y":815.9048156738281,"wires":[["f041ffe5.7a47","d3f1baa1.ebc808"]]},{"id":"f041ffe5.7a47","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":598.8889617919922,"y":839.9048156738281,"wires":[]},{"id":"6c025617.824158","type":"function","z":"c004b615.dac328","name":"SOCmn","func":"msg.payload = msg.payload.x_mn\nreturn msg;","outputs":1,"noerr":0,"x":431.1111602783203,"y":894.7937927246094,"wires":[["c5fcb9ae.1bf4e8","e75c65f7.43b1b8"]]},{"id":"c5fcb9ae.1bf4e8","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":601.1111602783203,"y":918.7937927246094,"wires":[]},{"id":"64d807e8.2563a8","type":"function","z":"c004b615.dac328","name":"SOCcc","func":"msg.payload = msg.payload.x_cc\nreturn msg;","outputs":1,"noerr":0,"x":427.77784729003906,"y":1019.2381286621094,"wires":[["96e9b32b.b4171","28987cfa.c87ed4","d153ddf8.c7cee","b2f06118.92cc6"]]},{"id":"96e9b32b.b4171","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":599.4444122314453,"y":1126.5714416503906,"wires":[]},{"id":"28987cfa.c87ed4","type":"ui_gauge","z":"c004b615.dac328","name":"SOCcc","group":"4e805893.480868","order":1,"width":6,"height":5,"gtype":"gage","title":"SOCcc","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590.7778472900391,"y":1007.2381286621094,"wires":[]},{"id":"4ddef3cd.3cdd8c","type":"function","z":"c004b615.dac328","name":"SOCotm","func":"msg.payload = msg.payload.x_otm\nreturn msg;","outputs":1,"noerr":0,"x":427.2221221923828,"y":1216.4603881835937,"wires":[["a3896e23.fa299","30e4d9b6.689856","a103f7c2.ffd608"]]},{"id":"a3896e23.fa299","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":597.2221221923828,"y":1240.4603881835937,"wires":[]},{"id":"30e4d9b6.689856","type":"ui_gauge","z":"c004b615.dac328","name":"SOCotm","group":"41d8ad79.5364d4","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590.2221221923828,"y":1204.4603881835937,"wires":[]},{"id":"a103f7c2.ffd608","type":"ui_chart","z":"c004b615.dac328","name":"SOCotm","group":"41d8ad79.5364d4","order":2,"width":0,"height":0,"label":"SOCotm (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#f1ea09","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":591.2221221923828,"y":1164.4603881835937,"wires":[[]]},{"id":"15a02018.23474","type":"function","z":"c004b615.dac328","name":"DODd","func":"msg.payload = msg.payload.DOD_d\nreturn msg;","outputs":1,"noerr":0,"x":417.77772521972656,"y":1289.2382202148437,"wires":[["53d628f5.08c938","eef4ec35.d8b4d"]]},{"id":"53d628f5.08c938","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":597.7777252197266,"y":1313.2382202148437,"wires":[]},{"id":"eef4ec35.d8b4d","type":"ui_gauge","z":"c004b615.dac328","name":"DODd","group":"7d98f668.13bbd8","order":2,"width":6,"height":5,"gtype":"donut","title":"Descarga (Ah)","label":"Ah","format":"{{value}}","min":"0","max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580.7777252197266,"y":1277.2382202148437,"wires":[]},{"id":"1b430af7.9de275","type":"function","z":"c004b615.dac328","name":"DODc","func":"msg.payload = msg.payload.DOD_c\nreturn msg;","outputs":1,"noerr":0,"x":417.22218322753906,"y":1365.90478515625,"wires":[["c0adede.98e0f1","7170cc27.2cbff4"]]},{"id":"c0adede.98e0f1","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":597.2221832275391,"y":1389.90478515625,"wires":[]},{"id":"7170cc27.2cbff4","type":"ui_gauge","z":"c004b615.dac328","name":"DODc","group":"7d98f668.13bbd8","order":1,"width":6,"height":5,"gtype":"donut","title":"Carga (Ah)","label":"Ah","format":"{{value}}","min":"0","max":"-38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580.2221832275391,"y":1353.90478515625,"wires":[]},{"id":"167e9309.1b7eed","type":"function","z":"c004b615.dac328","name":"Vekf","func":"msg.payload = msg.payload.y_ekf\nreturn msg;","outputs":1,"noerr":0,"x":423.8095245361328,"y":708.52392578125,"wires":[["99ee0776.801508","65d2706.8234a9","ede0bf14.9e009"]]},{"id":"99ee0776.801508","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":606.1905059814453,"y":721.5714721679687,"wires":[]},{"id":"65d2706.8234a9","type":"ui_chart","z":"c004b615.dac328","name":"Vekf","group":"e3d0ede0.312c9","order":5,"width":0,"height":0,"label":"Tensão Vekf (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":589.0792388916016,"y":643.3492736816406,"wires":[[]]},{"id":"b2c1f066.586d8","type":"ui_chart","z":"c004b615.dac328","name":"SOCekf","group":"408c8b17.11b1d4","order":2,"width":6,"height":4,"label":"SOC (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#19b81c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":597.0639190673828,"y":566.857177734375,"wires":[[]]},{"id":"3091a6a0.c8f62a","type":"ui_gauge","z":"c004b615.dac328","name":"SOCekf","group":"408c8b17.11b1d4","order":1,"width":6,"height":4,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":595.2064971923828,"y":524.1428527832031,"wires":[]},{"id":"b2f06118.92cc6","type":"ui_gauge","z":"c004b615.dac328","name":"SOCcc","group":"a4971d40.3b94c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":593.7302398681641,"y":1086.3810272216797,"wires":[]},{"id":"d153ddf8.c7cee","type":"ui_chart","z":"c004b615.dac328","name":"SOCcc","group":"a4971d40.3b94c","order":2,"width":0,"height":0,"label":"SOCcc (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#d05001","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":593.0636749267578,"y":1048.0476837158203,"wires":[[]]},{"id":"ad971f36.62a","type":"debug","z":"c004b615.dac328","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":434.6349639892578,"y":51,"wires":[]},{"id":"e178ee08.9c0bf","type":"wiotp out","z":"c004b615.dac328","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5410ad92.b97484","deviceType":"","deviceId":"","event":"Monitor","format":"json","qos":"","name":"variaveis","x":425.19056701660156,"y":94,"wires":[]},{"id":"d3f1baa1.ebc808","type":"ui_text","z":"c004b615.dac328","group":"e3d0ede0.312c9","order":2,"width":0,"height":0,"name":"SOCmx","label":"SOC máx (%):","format":"{{msg.payload}}","layout":"row-center","x":593.6506805419922,"y":800.5079956054687,"wires":[]},{"id":"e75c65f7.43b1b8","type":"ui_text","z":"c004b615.dac328","group":"e3d0ede0.312c9","order":3,"width":0,"height":0,"name":"SOCmn","label":"SOC mín (%):","format":"{{msg.payload}}","layout":"row-center","x":588.7302398681641,"y":878.2858581542969,"wires":[]},{"id":"a797a444.8b6b58","type":"ui_text","z":"c004b615.dac328","group":"721bc9a.aa40c38","order":6,"width":3,"height":1,"name":"V1","label":"V1 (V):","format":"{{msg.payload}}","layout":"row-center","x":583.7777862548828,"y":246.57144165039062,"wires":[]},{"id":"b682988f.d4d138","type":"ui_text","z":"c004b615.dac328","group":"721bc9a.aa40c38","order":17,"width":3,"height":1,"name":"Corrente","label":"Corrente (A): ","format":"{{msg.payload}}","layout":"row-center","x":597.7777862548828,"y":370.5714416503906,"wires":[]},{"id":"ede0bf14.9e009","type":"ui_text","z":"c004b615.dac328","group":"e3d0ede0.312c9","order":4,"width":0,"height":0,"name":"Vekf","label":"Tensão EKF (V):","format":"{{msg.payload}}","layout":"row-center","x":589.1109771728516,"y":680.90478515625,"wires":[]},{"id":"f376cfac.e9f7","type":"ui_text","z":"c004b615.dac328","group":"e3d0ede0.312c9","order":1,"width":0,"height":0,"name":"SOCekf","label":"SOCekf (%):","format":"{{msg.payload}}","layout":"row-center","x":596.1111195882163,"y":450.90477498372394,"wires":[]},{"id":"3a53b282.d627de","type":"function","z":"c004b615.dac328","name":"V2","func":"msg.payload = msg.payload.V2\nreturn msg;","outputs":1,"noerr":0,"x":879,"y":254,"wires":[["53c541ea.6e47e","5723602e.b3162"]]},{"id":"53c541ea.6e47e","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1067,"y":281,"wires":[]},{"id":"5723602e.b3162","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":2,"width":3,"height":1,"name":"V2","label":"V2 (V):","format":"{{msg.payload}}","layout":"row-center","x":1047.7777862548828,"y":241.44444274902344,"wires":[]},{"id":"5e9609fe.185e38","type":"function","z":"c004b615.dac328","name":"V3","func":"msg.payload = msg.payload.V3\nreturn msg;","outputs":1,"noerr":0,"x":878,"y":352,"wires":[["a1469d4.1c5246","abda5a35.c28ab8"]]},{"id":"a1469d4.1c5246","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1066,"y":379,"wires":[]},{"id":"abda5a35.c28ab8","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":3,"width":3,"height":1,"name":"V3","label":"V3 (V):","format":"{{msg.payload}}","layout":"row-center","x":1046.7777862548828,"y":339.44444274902343,"wires":[]},{"id":"daa0f3a4.35279","type":"function","z":"c004b615.dac328","name":"V4","func":"msg.payload = msg.payload.V4\nreturn msg;","outputs":1,"noerr":0,"x":881,"y":482,"wires":[["1e68712c.741edf","3460c943.5b8d26"]]},{"id":"1e68712c.741edf","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1069,"y":509,"wires":[]},{"id":"3460c943.5b8d26","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":4,"width":3,"height":1,"name":"V4","label":"V4 (V):","format":"{{msg.payload}}","layout":"row-center","x":1049.7777862548828,"y":469.44444274902343,"wires":[]},{"id":"ae31c8ab.7c9878","type":"function","z":"c004b615.dac328","name":"V5","func":"msg.payload = msg.payload.V5\nreturn msg;","outputs":1,"noerr":0,"x":882,"y":617,"wires":[["6bf7e59b.f6ad2c","86a365af.f25cc8"]]},{"id":"6bf7e59b.f6ad2c","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":644,"wires":[]},{"id":"86a365af.f25cc8","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":5,"width":3,"height":1,"name":"V5","label":"V5 (V):","format":"{{msg.payload}}","layout":"row-center","x":1050.7777862548828,"y":604.4444427490234,"wires":[]},{"id":"b8937021.75aef","type":"function","z":"c004b615.dac328","name":"V6","func":"msg.payload = msg.payload.V6\nreturn msg;","outputs":1,"noerr":0,"x":879,"y":733,"wires":[["af6e4e3.91596b","65bd2493.f60ffc"]]},{"id":"af6e4e3.91596b","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1067,"y":760,"wires":[]},{"id":"65bd2493.f60ffc","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":6,"width":3,"height":1,"name":"V6","label":"V6 (V):","format":"{{msg.payload}}","layout":"row-center","x":1047.7777862548828,"y":720.4444427490234,"wires":[]},{"id":"d6dba38d.03da5","type":"function","z":"c004b615.dac328","name":"V7","func":"msg.payload = msg.payload.V7\nreturn msg;","outputs":1,"noerr":0,"x":876,"y":864,"wires":[["a1ca44ed.abc9a8","fb711cec.9343a"]]},{"id":"a1ca44ed.abc9a8","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1064,"y":891,"wires":[]},{"id":"fb711cec.9343a","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":7,"width":3,"height":1,"name":"V7","label":"V7 (V):","format":"{{msg.payload}}","layout":"row-center","x":1044.7777862548828,"y":851.4444427490234,"wires":[]},{"id":"625b3a11.553004","type":"function","z":"c004b615.dac328","name":"V8","func":"msg.payload = msg.payload.V8\nreturn msg;","outputs":1,"noerr":0,"x":877,"y":987,"wires":[["4e3cbb24.6be764","e238c3eb.8b92d"]]},{"id":"4e3cbb24.6be764","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1065,"y":1014,"wires":[]},{"id":"e238c3eb.8b92d","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":8,"width":3,"height":1,"name":"V8","label":"V8 (V):","format":"{{msg.payload}}","layout":"row-center","x":1045.7777862548828,"y":974.4444427490234,"wires":[]},{"id":"9a014cb4.e1ead","type":"ui_text","z":"c004b615.dac328","group":"6b9d9128.b9344","order":1,"width":3,"height":1,"name":"V1_1","label":"V1 (V):","format":"{{msg.payload}}","layout":"row-center","x":589,"y":163,"wires":[]},{"id":"b0c77ed3.08248","type":"function","z":"c004b615.dac328","name":"T2","func":"msg.payload = msg.payload.T2\nreturn msg;","outputs":1,"noerr":0,"x":1282,"y":254,"wires":[["5b1b6307.d3df9c","8d583551.239c68"]]},{"id":"5b1b6307.d3df9c","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":281,"wires":[]},{"id":"8d583551.239c68","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":2,"width":3,"height":1,"name":"T2","label":"T2 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1450.7777862548828,"y":241.44444274902344,"wires":[]},{"id":"b520a763.e70c08","type":"function","z":"c004b615.dac328","name":"T3","func":"msg.payload = msg.payload.T3\nreturn msg;","outputs":1,"noerr":0,"x":1281,"y":352,"wires":[["4cf7abb2.07eba4","58cc03e9.d5699c"]]},{"id":"4cf7abb2.07eba4","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1469,"y":379,"wires":[]},{"id":"58cc03e9.d5699c","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":3,"width":3,"height":1,"name":"T3","label":"T3 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1449.7777862548828,"y":339.44444274902343,"wires":[]},{"id":"76a08c10.42ad54","type":"function","z":"c004b615.dac328","name":"T4","func":"msg.payload = msg.payload.T4\nreturn msg;","outputs":1,"noerr":0,"x":1284,"y":482,"wires":[["4b63471e.035308","d7159dcb.5bd5e"]]},{"id":"4b63471e.035308","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1472,"y":509,"wires":[]},{"id":"d7159dcb.5bd5e","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":4,"width":3,"height":1,"name":"T4","label":"T4 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1452.7777862548828,"y":469.44444274902343,"wires":[]},{"id":"613a0a8e.8b86f4","type":"function","z":"c004b615.dac328","name":"T5","func":"msg.payload = msg.payload.T5\nreturn msg;","outputs":1,"noerr":0,"x":1285,"y":617,"wires":[["a342b7fb.59e998","36c65c6d.df81e4"]]},{"id":"a342b7fb.59e998","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1473,"y":644,"wires":[]},{"id":"36c65c6d.df81e4","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":5,"width":3,"height":1,"name":"T5","label":"T5 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1453.7777862548828,"y":604.4444427490234,"wires":[]},{"id":"96dac5c5.7ae288","type":"function","z":"c004b615.dac328","name":"T6","func":"msg.payload = msg.payload.T6\nreturn msg;","outputs":1,"noerr":0,"x":1282,"y":733,"wires":[["566575f3.8e0eac","dd37d9e0.7fa478"]]},{"id":"566575f3.8e0eac","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":760,"wires":[]},{"id":"dd37d9e0.7fa478","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":6,"width":3,"height":1,"name":"T6","label":"T6 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1450.7777862548828,"y":720.4444427490234,"wires":[]},{"id":"8b9188bd.c68848","type":"function","z":"c004b615.dac328","name":"T7","func":"msg.payload = msg.payload.T7\nreturn msg;","outputs":1,"noerr":0,"x":1279,"y":864,"wires":[["203f57b6.3a2748","72392f59.d889f"]]},{"id":"203f57b6.3a2748","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1467,"y":891,"wires":[]},{"id":"72392f59.d889f","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":7,"width":3,"height":1,"name":"T7","label":"T7 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1447.7777862548828,"y":851.4444427490234,"wires":[]},{"id":"37e7751f.85dc7a","type":"function","z":"c004b615.dac328","name":"T8","func":"msg.payload = msg.payload.T8\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":987,"wires":[["6f3d98eb.c5ce38","c680d38c.b5594"]]},{"id":"6f3d98eb.c5ce38","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1468,"y":1014,"wires":[]},{"id":"c680d38c.b5594","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":8,"width":3,"height":1,"name":"T8","label":"T8 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1448.7777862548828,"y":974.4444427490234,"wires":[]},{"id":"ae47f92f.48f298","type":"function","z":"c004b615.dac328","name":"T1","func":"msg.payload = msg.payload.T1\nreturn msg;","outputs":1,"noerr":0,"x":1276,"y":130,"wires":[["90f26054.7c194","3372442b.ecb26c"]]},{"id":"90f26054.7c194","type":"debug","z":"c004b615.dac328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1464,"y":157,"wires":[]},{"id":"3372442b.ecb26c","type":"ui_text","z":"c004b615.dac328","group":"811565df.463d58","order":1,"width":3,"height":1,"name":"T1","label":"T1 (°C):","format":"{{msg.payload}}","layout":"row-center","x":1444.7777862548828,"y":117.44444274902344,"wires":[]},{"id":"fe72a108.170d5","type":"serial-port","z":"","serialport":"COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"721bc9a.aa40c38","type":"ui_group","z":"","name":"Parâmetros","tab":"ad60974c.567748","order":1,"disp":true,"width":"10","collapse":false},{"id":"4e805893.480868","type":"ui_group","z":"","name":"SOC","tab":"ad60974c.567748","order":4,"disp":true,"width":"6","collapse":false},{"id":"41d8ad79.5364d4","type":"ui_group","z":"","name":"SOCotm","tab":"27a23449.fdffac","order":2,"disp":true,"width":"6","collapse":false},{"id":"7d98f668.13bbd8","type":"ui_group","z":"","name":"Capacidade","tab":"ad60974c.567748","disp":true,"width":"6","collapse":false},{"id":"e3d0ede0.312c9","type":"ui_group","z":"","name":"Parâmetros EKF","tab":"27a23449.fdffac","order":4,"disp":true,"width":"6","collapse":false},{"id":"408c8b17.11b1d4","type":"ui_group","z":"","name":"SOCekf","tab":"27a23449.fdffac","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4971d40.3b94c","type":"ui_group","z":"","name":"SOCcc","tab":"27a23449.fdffac","order":3,"disp":true,"width":"6","collapse":false},{"id":"5410ad92.b97484","type":"wiotp-credentials","z":"","name":"BMS","org":"uxglqv","serverName":"","devType":"BMS001","devId":"001","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"6b9d9128.b9344","type":"ui_group","z":"","name":"Tensão","tab":"d8337ba8.e76fa8","order":1,"disp":true,"width":12,"collapse":false},{"id":"811565df.463d58","type":"ui_group","z":"","name":"Temperatura","tab":"d8337ba8.e76fa8","order":2,"disp":true,"width":12,"collapse":false},{"id":"ad60974c.567748","type":"ui_tab","z":"","name":"Monitoramento","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"27a23449.fdffac","type":"ui_tab","z":"","name":"SOC","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d8337ba8.e76fa8","type":"ui_tab","z":"","name":"Multicanal","icon":"dashboard","order":3,"disabled":false,"hidden":false}]