Source_interface_local_padrao.txt
[{"id":"b740bbc4.e4bc18","type":"tab","label":"BMS","disabled":false,"info":""},{"id":"c692dd29.d727f","type":"serial in","z":"b740bbc4.e4bc18","name":"","serial":"fe72a108.170d5","x":142.2222137451172,"y":152.55555725097656,"wires":[["672ba259.ba703c","8503f94.848ed08"]]},{"id":"672ba259.ba703c","type":"json","z":"b740bbc4.e4bc18","name":"","property":"payload","action":"","pretty":false,"x":325.2222137451172,"y":153.55555725097656,"wires":[["6750795.16a4e88","c12967f.4139898","228def07.c5727","1856b926.d4cb37","83445078.e17e2","b39c8919.388478","7a0699f1.492528","8044870d.605428","3535ed2e.756372","86a8bd0e.10781","309301af.7f7ebe","d2e58b9.14fb478","a472b2d5.46128"]]},{"id":"6750795.16a4e88","type":"function","z":"b740bbc4.e4bc18","name":"V1","func":"msg.payload = msg.payload.V1\nreturn msg;","outputs":1,"noerr":0,"x":502.2222137451172,"y":281.55555725097656,"wires":[["1a9276eb.805d39","c74e01ba.0eda6","c204f9ad.f09918"]]},{"id":"c12967f.4139898","type":"function","z":"b740bbc4.e4bc18","name":"corrente","func":"msg.payload = msg.payload.I\nreturn msg;","outputs":1,"noerr":0,"x":521.2222137451172,"y":406.55555725097656,"wires":[["c8015f1f.ba2f9","4f57b4d3.a5d30c","2f1a60b2.7b128"]]},{"id":"1a9276eb.805d39","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690.2222137451172,"y":308.55555725097656,"wires":[]},{"id":"c8015f1f.ba2f9","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":691.2222137451172,"y":430.55555725097656,"wires":[]},{"id":"228def07.c5727","type":"function","z":"b740bbc4.e4bc18","name":"Gravar","func":"var data = new Date().toLocaleDateString();\nvar hora = new Date().toLocaleTimeString();\n\nmsg.payload = data + \";\" + hora + \";\" + \"V1:\" + \" \" + msg.payload.V1 + \",\" + \"Corrente(A):\" + \" \" + msg.payload.I + \";\" + \"SOCekf:\" + \" \" + msg.payload.x_pos + \";\" + \" \" + msg.payload.x_mx + \";\" + \" \" + msg.payload.x_mn + \";\" + \"SOCcc:\" + \" \" + msg.payload.x_cc + \";\" + \"SOCotm\" + \" \" + msg.payload.x_otm + \";\" + \"DODd:\" + \" \" + msg.payload.DOD_d + \";\" + \"DODc:\" + \" \" + msg.payload.DOD_c + \";\" + \"Vekf:\" + \" \" + msg.payload.y_ekf + \";\" + \"DeltaT\" + \" \" + msg.payload.delta_t;\nreturn msg;","outputs":1,"noerr":0,"x":497.33331298828125,"y":1446.1111297607422,"wires":[["310e1ddb.f41ef2","88c04137.e14f9"]]},{"id":"310e1ddb.f41ef2","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":675.3333129882812,"y":1455.1111297607422,"wires":[]},{"id":"88c04137.e14f9","type":"file","z":"b740bbc4.e4bc18","name":"Dados Gravar","filename":"C:\\Users\\Ultrabook\\Desktop\\TesteJSON.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":679.3333129882812,"y":1491.1111297607422,"wires":[[]]},{"id":"4f57b4d3.a5d30c","type":"ui_chart","z":"b740bbc4.e4bc18","name":"Corrente","group":"721bc9a.aa40c38","order":13,"width":6,"height":5,"label":"Corrente(A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":685.2222137451172,"y":354.55555725097656,"wires":[[]]},{"id":"c74e01ba.0eda6","type":"ui_chart","z":"b740bbc4.e4bc18","name":"Tensao V1","group":"721bc9a.aa40c38","order":2,"width":6,"height":5,"label":"Tensão (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":692.2222137451172,"y":229.55555725097656,"wires":[[]]},{"id":"8503f94.848ed08","type":"debug","z":"b740bbc4.e4bc18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":297.2222137451172,"y":218.55555725097656,"wires":[]},{"id":"1856b926.d4cb37","type":"function","z":"b740bbc4.e4bc18","name":"SOC_ekf","func":"msg.payload = msg.payload.x_pos\nreturn msg;","outputs":1,"noerr":0,"x":518.888916015625,"y":517.7777709960937,"wires":[["860f96a0.049af8","df7c6a07.cf5d88","14f45b06.0d8135","dbfc1549.eb6c18","5ff390e8.7b854"]]},{"id":"860f96a0.049af8","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":692.888916015625,"y":627.7777709960937,"wires":[]},{"id":"df7c6a07.cf5d88","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"SOCekf","group":"4e805893.480868","order":2,"width":6,"height":5,"gtype":"gage","title":"SOCekf","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":681.888916015625,"y":505.77777099609375,"wires":[]},{"id":"83445078.e17e2","type":"function","z":"b740bbc4.e4bc18","name":"SOCmx","func":"msg.payload = msg.payload.x_mx\nreturn msg;","outputs":1,"noerr":0,"x":516.1111755371094,"y":838.3333740234375,"wires":[["21eb5311.e34d2c","73308873.9ce948"]]},{"id":"21eb5311.e34d2c","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686.1111755371094,"y":862.3333740234375,"wires":[]},{"id":"b39c8919.388478","type":"function","z":"b740bbc4.e4bc18","name":"SOCmn","func":"msg.payload = msg.payload.x_mn\nreturn msg;","outputs":1,"noerr":0,"x":518.3333740234375,"y":917.2223510742187,"wires":[["9231dd88.86e89","42164cdc.f64f74"]]},{"id":"9231dd88.86e89","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":688.3333740234375,"y":941.2223510742187,"wires":[]},{"id":"7a0699f1.492528","type":"function","z":"b740bbc4.e4bc18","name":"SOCcc","func":"msg.payload = msg.payload.x_cc\nreturn msg;","outputs":1,"noerr":0,"x":515.0000610351562,"y":1041.6666870117187,"wires":[["fbe87349.fce6c","8a0fd580.afbd88","62d3eda2.62d6b4","220a1635.81e57a"]]},{"id":"fbe87349.fce6c","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":686.6666259765625,"y":1149,"wires":[]},{"id":"8a0fd580.afbd88","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"SOCcc","group":"4e805893.480868","order":1,"width":6,"height":5,"gtype":"gage","title":"SOCcc","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":678.0000610351562,"y":1029.6666870117187,"wires":[]},{"id":"8044870d.605428","type":"function","z":"b740bbc4.e4bc18","name":"SOCotm","func":"msg.payload = msg.payload.x_otm\nreturn msg;","outputs":1,"noerr":0,"x":514.4443359375,"y":1238.8889465332031,"wires":[["4458e7d4.1e9838","301d0da8.068862","a0b34b91.a1aa38"]]},{"id":"4458e7d4.1e9838","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":684.4443359375,"y":1262.8889465332031,"wires":[]},{"id":"301d0da8.068862","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"SOCotm","group":"41d8ad79.5364d4","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":677.4443359375,"y":1226.8889465332031,"wires":[]},{"id":"a0b34b91.a1aa38","type":"ui_chart","z":"b740bbc4.e4bc18","name":"SOCotm","group":"41d8ad79.5364d4","order":2,"width":0,"height":0,"label":"SOCotm (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#f1ea09","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":678.4443359375,"y":1186.8889465332031,"wires":[[]]},{"id":"3535ed2e.756372","type":"function","z":"b740bbc4.e4bc18","name":"DODd","func":"msg.payload = msg.payload.DOD_d\nreturn msg;","outputs":1,"noerr":0,"x":504.99993896484375,"y":1311.6667785644531,"wires":[["d1029839.bb6c88","e2a5e6dd.da3458"]]},{"id":"d1029839.bb6c88","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":684.9999389648437,"y":1335.6667785644531,"wires":[]},{"id":"e2a5e6dd.da3458","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"DODd","group":"7d98f668.13bbd8","order":2,"width":6,"height":5,"gtype":"donut","title":"Descarga (Ah)","label":"Ah","format":"{{value}}","min":"0","max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":667.9999389648437,"y":1299.6667785644531,"wires":[]},{"id":"86a8bd0e.10781","type":"function","z":"b740bbc4.e4bc18","name":"DODc","func":"msg.payload = msg.payload.DOD_c\nreturn msg;","outputs":1,"noerr":0,"x":504.44439697265625,"y":1388.3333435058593,"wires":[["86ff929d.3d72e","8113c19f.557da"]]},{"id":"86ff929d.3d72e","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":684.4443969726562,"y":1412.3333435058593,"wires":[]},{"id":"8113c19f.557da","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"DODc","group":"7d98f668.13bbd8","order":1,"width":6,"height":5,"gtype":"donut","title":"Carga (Ah)","label":"Ah","format":"{{value}}","min":"0","max":"-38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":667.4443969726562,"y":1376.3333435058593,"wires":[]},{"id":"309301af.7f7ebe","type":"function","z":"b740bbc4.e4bc18","name":"Vekf","func":"msg.payload = msg.payload.y_ekf\nreturn msg;","outputs":1,"noerr":0,"x":511.03173828125,"y":730.9524841308594,"wires":[["3d0bf4ea.853c2c","ab01eb9b.c1fe38","79449e66.8a072"]]},{"id":"3d0bf4ea.853c2c","type":"debug","z":"b740bbc4.e4bc18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":693.4127197265625,"y":744.0000305175781,"wires":[]},{"id":"ab01eb9b.c1fe38","type":"ui_chart","z":"b740bbc4.e4bc18","name":"Vekf","group":"e3d0ede0.312c9","order":5,"width":0,"height":0,"label":"Tensão Vekf (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":676.3014526367187,"y":665.77783203125,"wires":[[]]},{"id":"14f45b06.0d8135","type":"ui_chart","z":"b740bbc4.e4bc18","name":"SOCekf","group":"408c8b17.11b1d4","order":2,"width":6,"height":4,"label":"SOC (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#19b81c","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":684.2861328125,"y":589.2857360839844,"wires":[[]]},{"id":"dbfc1549.eb6c18","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"SOCekf","group":"408c8b17.11b1d4","order":1,"width":6,"height":4,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":682.4287109375,"y":546.5714111328125,"wires":[]},{"id":"220a1635.81e57a","type":"ui_gauge","z":"b740bbc4.e4bc18","name":"SOCcc","group":"a4971d40.3b94c","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":680.9524536132812,"y":1108.809585571289,"wires":[]},{"id":"62d3eda2.62d6b4","type":"ui_chart","z":"b740bbc4.e4bc18","name":"SOCcc","group":"a4971d40.3b94c","order":2,"width":0,"height":0,"label":"SOCcc (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#d05001","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":680.285888671875,"y":1070.4762420654297,"wires":[[]]},{"id":"d2e58b9.14fb478","type":"debug","z":"b740bbc4.e4bc18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":532.857177734375,"y":71.4285659790039,"wires":[]},{"id":"a472b2d5.46128","type":"wiotp out","z":"b740bbc4.e4bc18","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"5410ad92.b97484","deviceType":"","deviceId":"","event":"Monitor","format":"json","qos":"","name":"variaveis","x":521.4127807617187,"y":115.4285659790039,"wires":[]},{"id":"73308873.9ce948","type":"ui_text","z":"b740bbc4.e4bc18","group":"e3d0ede0.312c9","order":2,"width":0,"height":0,"name":"SOCmx","label":"SOC máx (%):","format":"{{msg.payload}}","layout":"row-center","x":680.8728942871094,"y":822.9365539550781,"wires":[]},{"id":"42164cdc.f64f74","type":"ui_text","z":"b740bbc4.e4bc18","group":"e3d0ede0.312c9","order":3,"width":0,"height":0,"name":"SOCmn","label":"SOC mín (%):","format":"{{msg.payload}}","layout":"row-center","x":675.9524536132812,"y":900.7144165039062,"wires":[]},{"id":"c204f9ad.f09918","type":"ui_text","z":"b740bbc4.e4bc18","group":"721bc9a.aa40c38","order":6,"width":3,"height":1,"name":"V1","label":"V1 (V):","format":"{{msg.payload}}","layout":"row-center","x":671,"y":269,"wires":[]},{"id":"2f1a60b2.7b128","type":"ui_text","z":"b740bbc4.e4bc18","group":"721bc9a.aa40c38","order":17,"width":3,"height":1,"name":"Corrente","label":"Corrente (A): ","format":"{{msg.payload}}","layout":"row-center","x":685,"y":393,"wires":[]},{"id":"79449e66.8a072","type":"ui_text","z":"b740bbc4.e4bc18","group":"e3d0ede0.312c9","order":4,"width":0,"height":0,"name":"Vekf","label":"Tensão EKF (V):","format":"{{msg.payload}}","layout":"row-center","x":676.3331909179687,"y":703.3333435058594,"wires":[]},{"id":"5ff390e8.7b854","type":"ui_text","z":"b740bbc4.e4bc18","group":"e3d0ede0.312c9","order":1,"width":0,"height":0,"name":"SOCekf","label":"SOCekf (%):","format":"{{msg.payload}}","layout":"row-center","x":683.3333333333334,"y":473.3333333333333,"wires":[]},{"id":"fe72a108.170d5","type":"serial-port","z":"","serialport":"COM7","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"721bc9a.aa40c38","type":"ui_group","z":"","name":"Parâmetros","tab":"ad60974c.567748","order":1,"disp":true,"width":"10","collapse":false},{"id":"4e805893.480868","type":"ui_group","z":"","name":"SOC","tab":"ad60974c.567748","order":4,"disp":true,"width":"6","collapse":false},{"id":"41d8ad79.5364d4","type":"ui_group","z":"","name":"SOCotm","tab":"27a23449.fdffac","order":2,"disp":true,"width":"6","collapse":false},{"id":"7d98f668.13bbd8","type":"ui_group","z":"","name":"Capacidade","tab":"ad60974c.567748","disp":true,"width":"6","collapse":false},{"id":"e3d0ede0.312c9","type":"ui_group","z":"","name":"Parâmetros EKF","tab":"27a23449.fdffac","order":4,"disp":true,"width":"6","collapse":false},{"id":"408c8b17.11b1d4","type":"ui_group","z":"","name":"SOCekf","tab":"27a23449.fdffac","order":1,"disp":true,"width":"6","collapse":false},{"id":"a4971d40.3b94c","type":"ui_group","z":"","name":"SOCcc","tab":"27a23449.fdffac","order":3,"disp":true,"width":"6","collapse":false},{"id":"5410ad92.b97484","type":"wiotp-credentials","z":"","name":"BMS","org":"uxglqv","serverName":"","devType":"BMS001","devId":"001","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"ad60974c.567748","type":"ui_tab","z":"","name":"Monitoramento","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"27a23449.fdffac","type":"ui_tab","z":"","name":"SOC","icon":"dashboard","order":7,"disabled":false,"hidden":false}]