Source_interface_remota.txt
[{"id":"8fd88541.cecca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c9059c59.0cff5","type":"ibmiot in","z":"8fd88541.cecca8","authentication":"apiKey","apiKey":"598bbe5d.6f442","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"001","applicationId":"","deviceType":"BMS001","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":260,"wires":[["f7310692.c205b8","b6d2a6e6.4721b8","1017f411.7314ac","e6d89fbb.af1af","1df151d7.5e90ee","d0a65050.238d2","6c7227.2d85add8","5e283ea8.a9f42","b87835ee.6ea5c8","d94f6a71.e60848"]]},{"id":"f7310692.c205b8","type":"function","z":"8fd88541.cecca8","name":"V1","func":"msg.payload = msg.payload.d.V1\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["bb0b1d96.7dba3","c2f9db6b.192448","b22dec66.0e427"]]},{"id":"bb0b1d96.7dba3","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":340,"wires":[]},{"id":"b6d2a6e6.4721b8","type":"function","z":"8fd88541.cecca8","name":"Corrente","func":"msg.payload = msg.payload.d.I;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[["9fd817bf.c85b28","6096f95.0430008","2159b95.7e8fe46"]]},{"id":"9fd817bf.c85b28","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":460,"wires":[]},{"id":"c2f9db6b.192448","type":"ui_chart","z":"8fd88541.cecca8","name":"V1","group":"97b41145.d3baa","order":2,"width":7,"height":5,"label":"Tensão (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":260,"wires":[[]]},{"id":"6096f95.0430008","type":"ui_chart","z":"8fd88541.cecca8","name":"Corrente","group":"97b41145.d3baa","order":8,"width":7,"height":5,"label":"Corrente (A)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":380,"wires":[[]]},{"id":"1017f411.7314ac","type":"function","z":"8fd88541.cecca8","name":"SOCekf","func":"msg.payload = msg.payload.d.x_pos;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":500,"wires":[["4aac4ac6.6f84e4","a01d24f.e946ed8","47e1074a.801968","8938a74b.0176a8","38944cfd.f15224"]]},{"id":"e6d89fbb.af1af","type":"function","z":"8fd88541.cecca8","name":"Vekf","func":"msg.payload = msg.payload.d.y_ekf;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":700,"wires":[["e7236c41.a95fc","32057e05.476962","6f5c726b.2512bc"]]},{"id":"1df151d7.5e90ee","type":"function","z":"8fd88541.cecca8","name":"SOCmx","func":"msg.payload = msg.payload.d.x_mx;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":820,"wires":[["7588d09e.fa41e","351b4c4f.f7a754"]]},{"id":"d0a65050.238d2","type":"function","z":"8fd88541.cecca8","name":"SOCmn","func":"msg.payload = msg.payload.d.x_mn;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":900,"wires":[["86c0c9d6.9f37b8","4b350995.eeb4e8"]]},{"id":"6c7227.2d85add8","type":"function","z":"8fd88541.cecca8","name":"SOCcc","func":"msg.payload = msg.payload.d.x_cc;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":980,"wires":[["6b08829.def597c","71804e67.580cd","63421c23.d1e2a4","ebb22ecf.c845a"]]},{"id":"5e283ea8.a9f42","type":"function","z":"8fd88541.cecca8","name":"SOCotm","func":"msg.payload = msg.payload.d.x_otm;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1160,"wires":[["368b07d0.42d168","7bc05675.8fde08","dc392db3.8239"]]},{"id":"b87835ee.6ea5c8","type":"function","z":"8fd88541.cecca8","name":"DODd","func":"msg.payload = msg.payload.d.DOD_d;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1280,"wires":[["dc29cdba.0f112","fa72acc3.41092"]]},{"id":"d94f6a71.e60848","type":"function","z":"8fd88541.cecca8","name":"DODc","func":"msg.payload = msg.payload.d.DOD_c;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":1380,"wires":[["c1c40f2b.708ac","1be08d48.e688a3"]]},{"id":"b22dec66.0e427","type":"ui_text","z":"8fd88541.cecca8","group":"97b41145.d3baa","order":4,"width":3,"height":1,"name":"V1","label":"V1 (V):","format":"{{msg.payload}}","layout":"row-center","x":430,"y":300,"wires":[]},{"id":"2159b95.7e8fe46","type":"ui_text","z":"8fd88541.cecca8","group":"97b41145.d3baa","order":10,"width":3,"height":1,"name":"","label":"Corrente (A):","format":"{{msg.payload}}","layout":"row-center","x":450,"y":420,"wires":[]},{"id":"4aac4ac6.6f84e4","type":"ui_gauge","z":"8fd88541.cecca8","name":"SOCekf","group":"9e449db4.97546","order":2,"width":6,"height":5,"gtype":"gage","title":"SOCekf","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":540,"wires":[]},{"id":"a01d24f.e946ed8","type":"ui_gauge","z":"8fd88541.cecca8","name":"SOCekf","group":"63f2c09c.007be","order":1,"width":0,"height":0,"gtype":"gage","title":"SOCekf","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":580,"wires":[]},{"id":"47e1074a.801968","type":"ui_chart","z":"8fd88541.cecca8","name":"SOCekf","group":"63f2c09c.007be","order":2,"width":0,"height":0,"label":"SOCekf (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#008000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":620,"wires":[[]]},{"id":"8938a74b.0176a8","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":660,"wires":[]},{"id":"e7236c41.a95fc","type":"ui_text","z":"8fd88541.cecca8","group":"e075881f.ff1f58","order":4,"width":0,"height":0,"name":"Vekf","label":"Tensão EKF (V):","format":"{{msg.payload}}","layout":"row-center","x":430,"y":700,"wires":[]},{"id":"6f5c726b.2512bc","type":"ui_chart","z":"8fd88541.cecca8","name":"Vekf","group":"e075881f.ff1f58","order":5,"width":0,"height":0,"label":"Tensão Vekf (V)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":740,"wires":[[]]},{"id":"32057e05.476962","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":780,"wires":[]},{"id":"7588d09e.fa41e","type":"ui_text","z":"8fd88541.cecca8","group":"e075881f.ff1f58","order":2,"width":0,"height":0,"name":"SOCmx","label":"SOC máx (%):","format":"{{msg.payload}}","layout":"row-center","x":440,"y":820,"wires":[]},{"id":"351b4c4f.f7a754","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":860,"wires":[]},{"id":"86c0c9d6.9f37b8","type":"ui_text","z":"8fd88541.cecca8","group":"e075881f.ff1f58","order":3,"width":0,"height":0,"name":"SOCmn","label":"SOC mín (%):","format":"{{msg.payload}}","layout":"row-center","x":440,"y":900,"wires":[]},{"id":"4b350995.eeb4e8","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":940,"wires":[]},{"id":"63421c23.d1e2a4","type":"ui_chart","z":"8fd88541.cecca8","name":"SOCcc","group":"99be5d67.0819c","order":2,"width":0,"height":0,"label":"SOCcc (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#f16b07","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":1060,"wires":[[]]},{"id":"71804e67.580cd","type":"ui_gauge","z":"8fd88541.cecca8","name":"SOCcc","group":"99be5d67.0819c","order":1,"width":0,"height":0,"gtype":"gage","title":"SOCcc","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":1020,"wires":[]},{"id":"6b08829.def597c","type":"ui_gauge","z":"8fd88541.cecca8","name":"SOCcc","group":"9e449db4.97546","order":1,"width":6,"height":5,"gtype":"gage","title":"SOCcc","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":980,"wires":[]},{"id":"ebb22ecf.c845a","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1100,"wires":[]},{"id":"7bc05675.8fde08","type":"ui_chart","z":"8fd88541.cecca8","name":"SOCotm","group":"ad3efb4c.417cc8","order":2,"width":0,"height":0,"label":"SOCotm (%)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ffff15","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":440,"y":1200,"wires":[[]]},{"id":"368b07d0.42d168","type":"ui_gauge","z":"8fd88541.cecca8","name":"SOCotm","group":"ad3efb4c.417cc8","order":1,"width":0,"height":0,"gtype":"gage","title":"SOCotm","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":1160,"wires":[]},{"id":"dc392db3.8239","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1240,"wires":[]},{"id":"dc29cdba.0f112","type":"ui_gauge","z":"8fd88541.cecca8","name":"DODd","group":"71cb80cf.e0592","order":2,"width":6,"height":5,"gtype":"donut","title":"Descarga (Ah)","label":"Ah","format":"{{value}}","min":0,"max":"38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":1280,"wires":[]},{"id":"fa72acc3.41092","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1320,"wires":[]},{"id":"c1c40f2b.708ac","type":"ui_gauge","z":"8fd88541.cecca8","name":"DODc","group":"71cb80cf.e0592","order":1,"width":6,"height":5,"gtype":"donut","title":"Carga (Ah)","label":"Ah","format":"{{value}}","min":0,"max":"-38","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":430,"y":1380,"wires":[]},{"id":"1be08d48.e688a3","type":"debug","z":"8fd88541.cecca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":1420,"wires":[]},{"id":"38944cfd.f15224","type":"ui_text","z":"8fd88541.cecca8","group":"e075881f.ff1f58","order":1,"width":0,"height":0,"name":"SOCekf","label":"SOC (%):","format":"{{msg.payload}}","layout":"row-center","x":440,"y":500,"wires":[]},{"id":"598bbe5d.6f442","type":"ibmiot","z":"","name":"BMS","keepalive":"60","serverName":"","cleansession":true,"appId":"uxglqv","shared":false},{"id":"97b41145.d3baa","type":"ui_group","z":"","name":"Parâmetros","tab":"b93910df.0cbcb","order":1,"disp":true,"width":"10","collapse":false},{"id":"9e449db4.97546","type":"ui_group","z":"","name":"SOC","tab":"b93910df.0cbcb","disp":true,"width":"6","collapse":false},{"id":"63f2c09c.007be","type":"ui_group","z":"","name":"SOCekf","tab":"2f706375.64451c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e075881f.ff1f58","type":"ui_group","z":"","name":"Parâmetros EKF","tab":"2f706375.64451c","order":4,"disp":true,"width":"6","collapse":false},{"id":"99be5d67.0819c","type":"ui_group","z":"","name":"SOCcc","tab":"2f706375.64451c","order":2,"disp":true,"width":"6","collapse":false},{"id":"ad3efb4c.417cc8","type":"ui_group","z":"","name":"SOCotm","tab":"2f706375.64451c","order":3,"disp":true,"width":"6","collapse":false},{"id":"71cb80cf.e0592","type":"ui_group","z":"","name":"Capacidade","tab":"b93910df.0cbcb","disp":true,"width":"6","collapse":false},{"id":"b93910df.0cbcb","type":"ui_tab","z":"","name":"Monitoramento","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"2f706375.64451c","type":"ui_tab","z":"","name":"SOC","icon":"dashboard","order":13,"disabled":false,"hidden":false}]